
@{
    ViewData["Title"] = "Companies";
}
<div class="card">
    <div class="card-header">
        <h6>Companies</h6>
    </div>
    <div class="card-body">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-sm btn-outline-success" asp-area="" asp-controller="Companies" asp-action="IndexCompanies">Companies</a>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <a class="btn tbn-sm btn-success" asp-controller="home" asp-action="index">Home</a>
    </div>
</div>